<center>
<h2>ユーザ編集 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<br>
<div class="form">
プロフィール画像
<br>
<%= image_tag current_user.gravatar_url,  class: 'maru'%>
<br>
<br>
<div class="ul">
※プロフィール画像の変更は<%=link_to "gravatar", "https://ja.gravatar.com/",:target=>["_blank"] %>をご利用ください。
</div>
<br>
<br>
  <div class="field">
    <%= f.label :アカウント名 %> <br />
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新しいパスワード %> <br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :新しいパスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :パスワード %><br>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "変更" %>
  </div>
  </div>
<% end %>
<br>
<br>
<p> <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%= link_to "Back", :back %>
</center>

<style>
.maru{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  120px;       /* ※縦横を同値に */
  height: 120px;       /* ※縦横を同値に */
  display:inline-block;
  vertical-align:top; /*縦方向の揃え位置を指定*/
}
.ul {
  opacity: 0.6;
}
</style>