  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>年齢</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.user_id %></td>
        <td><%= score.answer %></td>
        <td><%= score.field %></td>
        <td><%= score.fin_field %></td>
        <td><%= score.question %></td>
        <td><%= score.study_day %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag import_scores_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "インポート" %>
  <% end %>