<head>
 <script src="jquery-1.10.2.min.js"></script>
 <script src="jquery-ui-1.10.3.custom.min.js"></script>
</head>
<style type = "text/css">
 

  #calender table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    line-height: 1.5;
    float:center;
    margin: 10px,10px,10px,10px;
    
  }

  #calender  th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #fff;
  }
  #calender td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
  }
          
  #day{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    
  }

  #calender {
    color:#000;
    margin: 10px,10px,10px,10px;
  }
          
  #day.space{
    color: #000;        
  }
  
 .buton {
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  margin-right: 50px;
  margin-left :50px;
  }
.buton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.yea{
  width:90%;
  color: #000;/*文字色*/
  padding: 0, 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
  font-size:30px;
}

.math{
  color :#000;
}
</style>

<body>
<center>

<div id ="calender">
  <p class = "yea"><%= @today.strftime('%Y年%m月')%></p><!--年月の表示　例：2019年8月のところ-->
  <table>
  <tr id = "day">
    <th>日</th><!--カレンダーの最上列・曜日を表示 -->
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>
  <tr>

<% month = @today.strftime('%m')%>
<% d = @today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
<% 1.upto(5).each do|i|%>
  <tr id = "day">
<% (d..d.end_of_week(:sunday)).each do|c|%><!--たぶん(c.strftime('%m') == month)?のところで日付が入る日と入らない日を分けてるんだろうけど日付が入る日と入らない日でclassをわけたいため　普通にif文でやってほしい-->
  <% if c.strftime('%m') == month then %><!--日付はいる日-->
    <td class = "space">
    <%= link_to  c.strftime('%d'), calendar_path(current_user.id,day:c.strftime("%Y-%m-%d")) ,class: "math"%>
    </td>
  <%else%><!--日付はいらない日 -->
    <td>
    <%= " "%>
    </td>
  <% end %>
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>
</div>

<br>
<%=link_to "<",calendars_path(month:@today),class:"buton",type:"button"%>
<%=link_to ">",calendars_path(month:@today,ch:@blo),class:"buton",type:"button"%>
</center>
</body>

<script type="text/javascript">

$(function(){
    var array_time = gon.ans;
    //    1  2  3  4  5  6  7  8  9 10  11  12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

    var settei;
    for(i = 0; i < gon.last; i++){//31に月の日数を入れてほしい
       $('#day .space').html(function(index,element){
    if(index   == i)
    {
    //カラー設定
    if(array_time[i] <= 0 ){
        $(this).css({'background-color': '#FFFFFF'});
    }else if(array_time[i] < 20){
        $(this).css({'background-color': '#98fb98'});
    }else if(array_time[i] < 40){
        $(this).css({'background-color': '#90ee90'});
    }else if(array_time[i] < 60){
        $(this).css({'background-color': '#00ff7f'});
    }else if(array_time[i] < 80){
        $(this).css({'background-color': '#3cb371'});
    }else if(array_time[i] < 100){
       $(this).css({'background-color': '#228b22'});
    }else{
       $(this).css({'background-color': '#006400'});
    }

    settei += index+' ';
    }


    })
  
  }




});






</script>