<%=@day%>の正答率:<%=@seito_per[2]%>% <%=@seito_per[1]%>問中<%=@seito_per[0]%>問正解<br>
<%=@yesterday%>の正答率:<%=@yes_seito_per[2]%>%<br><br>

前回よりも<%=@dif%>%<%=@wo%><br><br>


分野別の正答率<br><br>
ストラテジ系    :<%=@stra_per[2]%>% <%=@stra_per[1]%>問中<%=@stra_per[0]%>問正解<br>
マネジメント系  :<%=@mana_per[2]%>% <%=@mana_per[1]%>問中<%=@mana_per[0]%>問正解<br>
テクノロジ系    :<%=@tec_per[2]%>% <%=@tec_per[1]%>問中<%=@tec_per[0]%>問正解<br><br>
<table>
    <% @calenders.each do |score| %>
      <tr>
        <td>id:<%= score.user_id %></td>
        <td><%= score.study_time %>時間</td>
        <td><%= score.break_time %>時間</td>
        <td><%= score.reflection %></td>
        <td><%= score.created_at.in_time_zone('Tokyo') %></td>
        <td><%= score.updated_at.in_time_zone('Tokyo') %></td>
      </tr>
    <% end %>
</table>
<br>
<%=@date%>