<%=@day%>の正答率:<%=@seito_per[2]%>% <%=@seito_per[1]%>問中<%=@seito_per[0]%>問正解<br>

<%if @yesterday.present?%>
<%=@yesterday%>の正答率:<%=@yes_seito_per[2]%>%<br><br>
前回よりも<%=@dif%>%<%=@wo%><br><br>
<% end %>

分野別の正答率<br><br>
ストラテジ系    :<%=@stra_per[2]%>% <%=@stra_per[1]%>問中<%=@stra_per[0]%>問正解<br>
マネジメント系  :<%=@mana_per[2]%>% <%=@mana_per[1]%>問中<%=@mana_per[0]%>問正解<br>
テクノロジ系    :<%=@tec_per[2]%>% <%=@tec_per[1]%>問中<%=@tec_per[0]%>問正解<br><br>





<%if false%>
<table>
    <% @calenders.each do |calender| %>
      <tr>
        <td>id:<%= calender.user_id %></td>
        <td><%= calender.study_time %>時間</td>
        <td><%= calender.break_time %>時間</td>
        <td><%= calender.reflection %></td>
        <td><%= calender.created_at %></td>
        <td><%= calender.updated_at%></td>
      </tr>
    <% end %>
</table>
<% end %>

<br>

勉強時間:<%=@study_time%>時間<br>  
休憩時間:<%=@break_time%>時間<br><br>
<% n = 1 %>
<% @calenders.each do |calender|%>
    <%= n %>回目
    <%= calender.reflection%><br>
    -------------------------------------------<br>
    <% n += 1%>
<% end %>

<br>
得意分野
<% @su.each do |s|%>
    :<%=s%> 
<% end %>
<br>
苦手分野
<% @mu.each do |m|%>
    :<%=m%> 
<% end %>