<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
</head>

<style>
#ex_chart {
    max-width:45%;
    max-height:45%;
    margin-left:10%;
    float:left;
}

#main_date {
    overflow:  hidden; 
}



#main_date p{
    position: relative;
    top: 50px;
    bottom: 10px;
    font-size:30px;
}

h3{
    text-align: center;
    color: #010079;
  text-shadow: 0 0 5px white;
  
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
p{
    text-align:center;
    font-size:20px;
}

#study_time{
    align:center;
    font-size:20px;
}

#bunya{
    text-align:center;
    font-size:20px;
}

.red em{
    color:red;
}

.blue em{
    color:blue;
}

</style>
<h3>前の成績と比較</h3>
<div id = "main_date">
<canvas id="ex_chart"></canvas>

<p><%=@day%>の正答率:<%=@seito_per[2]%>% <%=@seito_per[1]%>問中<%=@seito_per[0]%>問正解</p>

<%if @yesterday.present?%>
<p><%=@yesterday%>の正答率:<%=@yes_seito_per[2]%>%</p>
<p>前回よりも<%=@dif%>%<%=@wo%></p>
<% end %>
</div>
<h3>分野別の正答率</h3>
<p>ストラテジ系    :<%=@stra_per[2]%>% <%=@stra_per[1]%>問中<%=@stra_per[0]%>問正解</p>
<p>マネジメント系  :<%=@mana_per[2]%>% <%=@mana_per[1]%>問中<%=@mana_per[0]%>問正解</p>
<p>テクノロジ系    :<%=@tec_per[2]%>% <%=@tec_per[1]%>問中<%=@tec_per[0]%>問正解</p><br>


<h3>勉強時間</h3>
<center>
<%if false%>
<table id = "study_time">
    <% @calenders.each do |calender| %>
      <tr class = "time">
        <td>id:<%= calender.user_id %></td>
        <td><%= calender.study_time %>時間</td>
        <td><%= calender.break_time %>時間</td>
        <td><%= calender.reflection %></td>
        <td><%= calender.created_at %></td>
        <td><%= calender.updated_at%></td>
      </tr>
    <% end %>
</table>
<% end %>

<table id = "study_time" >
<tr class = "time" >
    <td>総勉強時間:</td>
    <td><%=@study_hour%></td>
    <td>時間</td>
    <td><%=@study_minite%></td>
    <td>分</td>
    <td><%=@study_second%></td>
    <td>秒</td>
</tr>
<tr class = "time">
    <td>総休憩時間:</td>
    <td><%=@break_hour%></td>
    <td>時間</td>
    <td><%=@break_minite%></td>
    <td>分</td>
    <td><%=@break_second%></td>
    <td>秒</td>
</tr>
</table>
</center>

<h3>反省点</h3>
<% n = 1 %>
<% @calenders.each do |calender|%>
    <%= n %>回目
    <%= calender.reflection%><br>
    -------------------------------------------<br>
    <% n += 1%>
<% end %>

<h3>得意分野・不得意分野</h3>
<div id = "bunya">
<em class = "red">得意分野</em>
<% @su.each do |s|%>
    :<%=s%> 
<% end %>
<em class = "blue">苦手分野</em>
<% @mu.each do |m|%>
    :<%=m%> 
<% end %>
</div>

<br><br>

<center>
<h3>問題一覧</h3>
<% @questions.each do |question|%>
<%= link_to question.question.match(/","/).post_match.gsub("\"", '').gsub("\)",''), "#{question.question.match(/"/).post_match.match(/","/).pre_match}",:onclick=>"window.open(this.href,'hoge', 'height=400, width=800');return false;" %><br>
<% end %>
</center>

<%= link_to "Back", :back %>
<script>
var ctx = document.getElementById('ex_chart');

var data = {
    labels: ["テクノロジ系", "ストラテジ系", "マネジメント系"],
    datasets: [{
        label: '前回',
        data: [gon.yes_tec_per, gon.yes_stra_per , gon.yes_mana_per],/*ここに前回のデータを入れる*/
        backgroundColor: 'rgba(255, 0, 0, 1)'
    },
    {
        label: '今回',
        data: [gon.tec_per, gon.stra_per, gon.mana_per],/*今回のデータ（正答率を入れる）今入れてあるのはサンプル*/
        backgroundColor: 'rgba(0, 0, 255, 1)'
        
    }]
};

var options = {
    scales: {
        xAxes: [{
            scaleLabel: {
                display: true,
                labelString: '正答率比較'
            }
        }],
        yAxes: [{
            ticks: {
                min: 0,
                
                userCallback: function(tick) {
                     
                    return tick.toString() + '％';
                }
            },
            scaleLabel: {
                display: true,
                labelString: ''
            }
        }]
    },
    title: {
        display: true,
        text: '正答率比較'
    }
};

var ex_chart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options
});
</script>
