<head>
 <script src="jquery-1.10.2.min.js"></script>
 <script src="jquery-ui-1.10.3.custom.min.js"></script>
</head>

<style type = "text/css">
h1 {
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}




#main{
    font-size : 30px;
}

.name{
    padding: 0.2em 0.5em;
    margin: 0px;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
    width:auto;
    text-align:center;
    width: 80%;
}


h3 {
  position: relative;
  padding: .3em;
  padding-bottom :10px;

  margin-left:10%;
  background-color:#c2edff;
  width:10%;
  
}
h3 span {
  display: block;
  padding: .75em 1em;
  border: 1px dashed #ccc;
}
h3::before,
h3::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
}
h3::before {
  top: 100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-right-color: #ccc;
}
h3::after {
  top: -15px;
  right: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-bottom-color: #ccc;
}
.maru{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  120px;       /* ※縦横を同値に */
  height: 120px;       /* ※縦横を同値に */
  display:inline-block;
  vertical-align:top; /*縦方向の揃え位置を指定*/
}
 
</style>

<body>
<center>
<h1>マイページ</h1>
<div id = "main">
<div align="right">
<%= link_to image_tag('gear.png',size: '200x100'), edit_user_registration_path %>
</div>
<br>
<div align="left"><h3>ユーザ名</h3></div>
<table class = "name">
<tr>
<td align = "center"><%= image_tag current_user.gravatar_url,  class: 'maru'%></td> 
<td align = "left" valign="middle"><%=current_user.name%>  Lv.<%=current_user.level + @level%></td>
</tr>
</table>
<br>
<div align="left"><h3>学習状況</h3></div>
<table class = "name">
<tr>
<td><em>総勉強時間:</em><%=@study_hour%>時間<%=@study_minite%>分<%=@study_second%>秒</td>
<td><em>総休憩時間:</em><%=@break_hour%>時間<%=@break_minite%>分<%=@break_second%>秒</td>
</tr>
<tr>
<td></td>
<td  align="center">     全体の正答率:<%=@per%>%</td>
</tr>
</table>
<br>
<div align="left"><h3>得意分野</h3></div>
<% if @su.present? %>
<div class = "name">
<% @su.each do |s|%>
    <%=s%>　 
<% end %>
</div>
<br>
<div align="left"><h3>苦手分野</h3></div>
<div class = "name">
<% @mu.each do |m|%>
    <%=m%>　 
<% end %>
<% end %>
</div>
<br><br>
</div>
<br>
</center>
</body>
