<head>
 <script src="jquery-1.10.2.min.js"></script>
 <script src="jquery-ui-1.10.3.custom.min.js"></script>
</head>
<style type = "text/css">
#texbox{

    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #000000;
    
    width: 600px;
    text-align: center;
}

</style>
<center>
<h1>成績一覧</h1>

<table>
 <% @genes.each do |gene|%>
 <button id =  "<%=gene[0] + '1'%>">
   <%=gene[0]%><br>
   <span><%=gene[3]%>%<br></span>
   <%=gene[2]%>問中<%=gene[1]%>問正解
 </button>
<% end %>
</table>

<div id = "texbox">
<% @fields.each do |field|%><!-- テクノロジ系・ストラテジ系・マネジメント系の順に表示-->
<table id = "<%=field%>">
<th><%=field%></th><!-- 分類名表示-->
 <% @fin_genes.each do |fin_gene|%>
 <tr id = "<%=fin_gene[0]+'1'%>">
   <% if field == fin_gene[4]%>
     <td align="center"><%=fin_gene[0]%></td><!--小分類-->
     <td align="right">　　<%=fin_gene[3]%>%</td><!--正答率-->
     <td align="right">　　<%=fin_gene[2]%>問中<%=fin_gene[1]%>問正解</td><!--正解した数-->
   <% end %>
 </tr>
 <% end %>
</table>

<% end %>

<% @fin_fields.each do |fin_field|%>
<table id = "<%=fin_field%>">
<th><%=fin_field%></th><!-- 分類名表示-->
 <% @questions.each do |question|%>
 <tr class = "<%=question%>">
   <% if fin_field == question[4]%><!---->
     <td><%=question[0].match(/","/).post_match.gsub("\"", '').gsub("\)",'')%></td><!--問題名-->
     <td align="right">　　<%=question[3]%>%</td><!--正答率-->
     <td align="right">　　<%=question[2]%>問中<%=question[1]%>問正解</td>
   <% end %>
 </tr>
 <% end %>
</table>
<% end %>
</div>
</center>

<script type="text/javascript">
   $(function(){　
   
     var array = ['#テクノロジ系'/*0*/,'#システム構成要素','#データベース',　'#アルゴリズムとプログラミング',
                　'#ソフトウェア'/*4*/　,'#セキュリティ','#ソフトウェア開発管理技術',
                  '#ハードウェア'/*7*/,　'#ヒューマンインタフェース',　'#ネットワーク'　,'#コンピュータ構成要素',
                　'#システム開発技術'/*11*/,'#基礎理論','#マルチメディア',
                  '#ストラテジ系'/*14*/,'#法務',　'#経営戦略マネジメント'　,'#企業活動','#システム企画',
                  '#ビジネスインダストリ'/*19*/,'#システム戦略','技術戦略マネジメント',
                  '#マネジメント系'/*20*/,'#サービスマネジメント',　'#プロジェクトマネジメント','#システム監査'
                 ];

    $.each(array, function(i, value) {
        $(value).hide();
    });
    $('#texbox').hide();

      $.each(array,function(i,value) {

          $(value+'1').on('click',function() {
             
            $.each(array,function(j,temp) {
              if(j == i){
                $(temp).show();
                $('#texbox').show();
              }else{
                $(temp).hide();
              }
            });            
          });
      });
   });
</script>