<h1>成績一覧</h1>

<% if false %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>年齢</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.user_id %></td>
        <td><%= score.answer %></td>
        <td><%= score.field %></td>
        <td><%= score.fin_field %></td>
        <td><%= score.question %></td>
        <td><%= score.study_day %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
 
全体:<%=@total_per%>％ <%=@total_total%>問中<%=@total_ans%>問正解
<br>


<br>



<% @genes.each do |gene|%>
<%=gene[0]%>:<%=gene[3]%>% <%=gene[2]%>問中<%=gene[1]%>問正解<br>
<% end %>

<br><br><br>

<% @fin_genes.each do |fin_gene|%>
<%=fin_gene[0]%>:<%=fin_gene[3]%>% <%=fin_gene[2]%>問中<%=fin_gene[1]%>問正解<br>
<% end %>

<br><br><br>

<% @questions.each do |question|%>
<%=question[0].match(/","/).post_match.gsub("\"", '').gsub("\)",'')%>:<%=question[3]%>% <%=question[2]%>問中<%=question[1]%>問正解<br>
<% end %>

<%= @scores.column_names%>