<h1>成績一覧</h1>

<% if false %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>年齢</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.user_id %></td>
        <td><%= score.answer %></td>
        <td><%= score.field %></td>
        <td><%= score.fin_field %></td>
        <td><%= score.question %></td>
        <td><%= score.study_day %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
 
全体:<%=@total_per%>％ <%=@total_total%>問中<%=@total_ans%>問正解
<br>
<p> 
テクノロジ系:<%=@tec_per%>％ <%=@tec_total%>問中<%=@tec_ans%>問正解<br>
マネジメント系:<%=@mana_per%>％ <%=@mana_total%>問中<%=@mana_ans%>問正解<br>
ストラテジ系:<%=@stra_per%>％ <%=@stra_total%>問中<%=@stra_ans%>問正解<br>
</p>

<br>


<%=p @genes%>

<br>

<% @genes.each do |gene|%>
<%=gene[0]%>:<%=gene[3]%>% <%=gene[2]%>問中<%=gene[1]%>問正解<br>
<% end %>
